body {
  font-family: "Segoe UI", Arial, sans-serif;
}

h1 {
  font-size: 42px;
}
a,
a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

.today-weather {
  font-size: 26px;
  font-weight: bold;
}
