body {
  font-family: "Segoe UI", Arial, sans-serif;
}

h1 {
  display: inline;
}

h1,
.app-title,
#today-date {
  font-size: 32px;
}

a,
a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

#highlight:first-child .card {
  background-color: #f8f9fa;
}
